## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

ImportError: cannot import name 'g_key' from 'config' (c:\Users\dcent\AppData\Local\Programs\Python\Python310\lib\site-packages\config\__init__.py)

In [ ]:
# Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Marsaxlokk,MT,81.09,clear sky,35.8419,14.5431,Water's Edge
1,5,Maurawan,IN,80.64,overcast clouds,26.4333,80.8833,Mahi Sanstha
2,11,San Quintin,MX,77.20,light rain,30.4833,-115.9500,Don Eddie's Sport Fishing Center
3,13,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,15,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,Paradise Inn

In [ ]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [ ]:
# Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
}
fig1 = gmaps.figure(center=(35.0, -40.0), zoom_level=3.0, layout=figure_layout)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig1.add_layer(marker_layer)

# 4b. Display the figure
fig1

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='900px'))

In [ ]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.

vacation_start = pd.DataFrame(vacation_df.loc[(vacation_df["City"] == "Khowai")])
vacation_end   = pd.DataFrame(vacation_df.loc[(vacation_df["City"] == "Khowai")])
vacation_stop1 = pd.DataFrame(vacation_df.loc[(vacation_df["City"] == "Sarankhola")])
vacation_stop2 = pd.DataFrame(vacation_df.loc[(vacation_df["City"] == "Sirajganj")])
vacation_stop3 = pd.DataFrame(vacation_df.loc[(vacation_df["City"] == "Tura")])

In [ ]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end   = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

In [ ]:
# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
}
fig2 = gmaps.figure(layout=figure_layout)

# Create a direction layer from start to end with stops for waypoints
start2end = gmaps.directions_layer(
    start, 
    end, 
    waypoints=[stop1, stop2, stop3], 
    travel_mode='DRIVING',
    show_markers=True
)

# Add the layer to the figure and display it
fig2.add_layer(start2end)
fig2

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='800px'))

In [ ]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3,
        vacation_end
    ],  ignore_index=True)

itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,569,Khowai,IN,78.58,overcast clouds,24.1000,91.6333,RD GAMING
1,473,Sarankhola,BD,82.45,very heavy rain,22.3082,89.7897,Red Crescent Cyclone Shelter Rashulpur
2,525,Sirajganj,BD,85.77,overcast clouds,24.4500,89.7167,Sarker Mention
3,497,Tura,IN,76.73,overcast clouds,25.5198,90.2201,Hotel RIKMAN Continental
4,569,Khowai,IN,78.58,overcast clouds,24.1000,91.6333,RD GAMING

In [ ]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# Add a marker layer for each city to the map.

max_temp = itinerary_df["Max Temp"]
figure_layout = {
    'width': '900px',
    'height': '900px',
    'border': '1px solid black',
    'padding': '1px'
}

# Define a new figure object
fig3 = gmaps.figure(layout=figure_layout)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig3.add_layer(marker_layer)

# Display the figure
fig3

Figure(layout=FigureLayout(border='1px solid black', height='900px', padding='1px', width='900px'))